ion-content(padding)
    .background(style={ 'background-image': 'url(assets/images/login-background.jpg)' })
        .b1-bg.color-red
        .logo
    ion-card.div-style
        img.img-style([src]="FABRIREX_LOGO")
    ion-card.mg-top
    
        ion-list(no-margin, no-lines)
            ion-item.flag
                ion-label(ion-text, floating, color="light") Usuario
                ion-input(type="text", [(ngModel)]="user.username", color="light")

            ion-item.flag
                ion-label(ion-text, floating, color="light") Contraseña
                ion-input(type="password", [(ngModel)]="user.password", color="light")
    ion-list
        ion-item
            button(ion-button, block, (click)="standarLogin()", color="primary") Iniciar Sesión
        ion-item
            button(ion-button, block, (click)="loginWithGoogle()", color="danger") Iniciar Sesión con Google
                ion-icon.icon-style(color="light", name="logo-googleplus")
        ion-item.item-style
            ion-label((click)="signIn()") Registrate
