
<ion-header>
  <ion-navbar color="primary">
    <button class="menu-button-style" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Historial</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <cs-empty-page *ngIf="requestList.length == 0" [entity]="entity"></cs-empty-page>
  <ion-list>
    <ion-list-header>Solicitudes Realizadas</ion-list-header>
    <ion-item *ngFor="let request of requestList;let i= index">Solicitud {{ i + 1 }}
      <ion-note item-end>{{ request?.date| date:'shortTime' }}</ion-note>
      <ion-icon name="checkmark-circle" item-end color="danger"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>