ion-header
    ion-navbar(color="primary")
        button.menu-button-style(ion-button, menuToggle)
            ion-icon(name='menu')
        ion-title Historial
ion-content
    cs-empty-page(*ngIf="requestList.length == 0", [entity]="entity")
    ion-list(*ngFor="let request of requestList;let i= index")
        ion-list-header Solicitudes Realizadas
        ion-item Solicitud {{ i + 1 }}
            ion-note(item-end) {{ request?.date| date:'shortTime' }}
            ion-icon(name="checkmark-circle", item-end, color="danger")


