ion-header
    ion-navbar
        button.menu-button-style(ion-button, menuToggle)
            ion-icon(name='menu')
        ion-title.title-style Fabrirex S.A.C.
ion-content(padding='')
    h3 Welcome To Fabrirex
    ion-list
        ion-item
            ion-thumbnail(item-start='')
                img([src]='currentUser?.profileImage')
            h2 {{ currentUser?.firstName }} {{ currentUser?.lastName}}
            p {{ currentUser?.email }}
    button(ion-button, menutoggle, (click)="showToastr()") Show Toastr
