ion-header
    ion-navbar
        button.menu-button-style(ion-button, menuToggle)
            ion-icon(name='menu')
        ion-title.title-style Fabrirex S.A.C.
ion-content(padding='')
    h3 Welcome To Fabrirex
    button(ion-button, menutoggle, (click)="showToastr()") Show Toastr
