ion-header
    ion-navbar(color="primary")
        button.menu-button-style(ion-button, menuToggle)
            ion-icon(name='menu')
        ion-title.title-style Fabrirex S.A.C.
ion-content(padding='')
    div.div-style
        button.button-style(ion-button,full,color="primary") Solicitar Productos
    cs-product-list([products]="products")
