ion-menu([content]='content')
    ion-header
        ion-toolbar
            ion-title Menu
    ion-content
        ion-list
            button(menuclose='', ion-item='', *ngFor='let p of pages', (click)='openPage(p)')
                | {{p.title}}
//- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus
ion-nav([root]='rootPage', #content='', swipebackenabled='false')
