.forsale
	masonry([options]="{ gutter: 10, resize : true }")
		masonry-brick.brick(*ngFor="let product of products")
			ion-card
				.img((click)= "viewProduct(product)")
					i.backimage([ngStyle]="bgStyle(product?.image)")
					h3 s./ {{ product?.price }}

				ion-card-content
					ion-card-title((click)= "viewProduct(product)")
						h2 {{ product?.description }}
					button(*ngIf="request", ion-button, full, color="primary", (click)="addProduct(product)") Solicitar
						ion-icon(color="light", name="basket")